.App {
  text-align: center;
  margin-top: 30%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
    background: #FDED2A;
    font-family: Helvetica;
}

.btn {
  margin: .5em;
  color: black;
  background-color: #FDED2A;
  border-color: black;
}

.text-margin {
  text-align: left;
  margin-left: 20%;
  margin-right: 15%;
  margin-bottom: 10%;
}

.price-input {
  background-color: #FDED2A;
  color: #213409;
  border-style: solid;
  width: 3em;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
